.miDivision{

    border:rgb(25, 8, 180) 1px;
    width: 200px;
    margin: 0 auto;

}
.inputText{
    width: 100px;
    margin: 20px;

}

.myButton{
    margin: 5px;
    background-color: aquamarine;
    border-style: none;
    width: 80px;
    height: 80px;
}

#resultado{

    font-size:50px;
    width: 100px;
    margin:0 auto;

}
